<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">Developed by BlockParty</div>
			<div class="col-sm-6 text-right container-logout" hidden>
				<button class="btn btn-primary" type="button" name="logout">Logout</button>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script type="text/javascript" src="/js/instascan.min.js"></script>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/sweetalert2@7.1.0/dist/sweetalert2.all.js"></script>

<script type="text/javascript">
	var _albatross = JSON.parse('{{{albatross}}}');
</script>
<script src="/js/md5.js"></script>
<script src="/js/script.js"></script>
<script src="/js/login.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>
