{{>header}}
<section id="add-project" class="container main" hidden data-auth-required="true">
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="row">
				<div class="col-6">
					<button class="btn btn-primary" type="button" name="dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard</button>
				</div>
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-project"><i class="fa fa-tasks" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="project" aria-label="Project Name" aria-describedby="addon-project" placeholder="Project Name" />
			</div>
			<br />
			<div class="text-right">
				<button class="btn btn-primary" type="button" name="add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
			</div>
		</div>
	</div>
	<br />

</section>
{{>footer}}
