{{>header}}
<section id="add-project" class="container main" hidden data-auth-required="true">
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="row">
				<div class="col-6">
					<button class="btn btn-primary" type="button" name="dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard</button>
				</div>
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-project"><i class="fa fa-tasks" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="project" aria-label="Project Name" aria-describedby="addon-project" placeholder="Project Name" />
			</div>
			<br />
			<div class="input-group">
				<textarea class="form-control" type="text" name="project" aria-label="Project Name" aria-describedby="addon-project" placeholder="Project Description"></textarea>
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-date-start"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="date-start" aria-label="Start Date" aria-describedby="addon-date-start" placeholder="Start Date" />
				<input class="form-control" type="text" name="date-end" aria-label="End Date" aria-describedby="addon-date-end" placeholder="End Date" />
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-time-start"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="time-start" aria-label="Start Time" aria-describedby="addon-time-start" placeholder="Start Time" />
				<input class="form-control" type="text" name="time-end" aria-label="End Time" aria-describedby="addon-time-end" placeholder="End Time" />
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-wage"><i class="fa fa-tasks" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="wage" aria-label="Wage" aria-describedby="addon-wage" placeholder="Wage" />
			</div>
			<br />
			<div class="input-group">
				<select class="form-control" type="text" name="domain" aria-label="Domain" aria-describedby="addon-domain" placeholder="Domain">
					<option value="" disabled selected>Domain</option>
					<option>Cooking</option>
					<option>Electrification</option>
					<option>Farming</option>
					<option>Flooring</option>
					<option>Painting</option>
				</select>
			</div>
			<br />
			<div class="text-right">
				<button class="btn btn-primary" type="button" name="add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
			</div>
		</div>
	</div>
	<br />

</section>
{{>footer}}
