{{>header}}
<section id="add" class="container main" hidden data-auth-required="true">
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="row">
				<div class="col-6">
					<button class="btn btn-primary" type="button" name="list"><i class="fa fa-arrow-left" aria-hidden="true"></i> List</button>
				</div>
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-username"><i class="fa fa-user-o" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="username" aria-label="User ID" aria-describedby="addon-username" placeholder="User ID" />
			</div>
			<div class="label-username" hidden><span class="text-danger">Enter User ID</span></div>
			<br />
			<div class="input-group">
				<span class="input-group-addon" id="addon-fingerprint"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="fingerprint" aria-label="Fingerprint" aria-describedby="addon-fingerprint" placeholder="Fingerprint" />
				<input type="file" hidden name="file-fingerprint" />
			</div>
			<div class="input-or">or</div>
			<div class="input-group">
				<span class="input-group-addon" id="addon-iris"><i class="fa fa-eye" aria-hidden="true"></i></span>
				<input class="form-control" type="text" name="iris" aria-label="iris" aria-describedby="addon-iris" placeholder="Iris" />
				<input type="file" hidden name="file-iris" />
			</div>
			<div class="label-verify" hidden><span class="text-danger">Enter Fingerprint or Iris</span></div>
			<br />
			<hr />
			<h4>Agreement</h4>
			<pre style="max-height: 300px;">
This Contract of Agreement is made and entered on this 18th day of December 2017 between Mr/Mrs Kevin albatross id:198773 having their office situated at Palarivattom (hereinafter referred to as “the Contractor”) of the ONE PART
AND Mr/Mrs. Tim albatross id:2938387 (hereinafter referred to as “The Labourer”) of the
OTHER PART.
 
WHEREAS the Contractor is in the business of Labour assimilation and skillful distribution and is on the lookout for a suitable Labourer who can undertake/render services for the Factory/Establishment/Organization in respect of (Details of the job to be given).
 
AND WHEREAS the Labourer has the expertise to do such kind of work and has taken or done similar such type of jobs in other concerns
 
AND WHEREAS the Contractor wants to give and the Labourer has agreed to undertake the said job on the terms and conditions set out hereunder:

Details of the job to be given: Painting Home
Compensation:

a) The Labourer will be paid compensation on job basis;
b) The Labourer agreed to execute/fulfill and discharge jobs agreed upon by him efficiently and to the full satisfaction of the Contractor within the stipulated time;

Raw material and machinery etc:
a) The Contractor, if found necessary, shall arrange for machinery required for the purpose of execution of work entrusted to the Labourer and the Labourer shall be responsible for the same for its use and has to maintain and to upkeep the same in proper order.
b) The Contractor shall make sure the necessary Raw material has been made available beforehand.
c) Any damage or loss caused to the equipment entrusted to the Labourer, the Labourer shall reimburse the payment of the same to the Contractor unless damage is caused due to usual wear and tear.
 
Rights and Obligations of the Labourer:
a) To perform the job as per the assignment, details of which are given in the agreement.
 
b) To receive the payment from the Contractor for performance of the job.
 
c) The Labourer shall receive wages on or before 7th of every month or on termination of agreement, whichever comes first.
 
h) The Labourer shall comply with the following acts or any other Labour Laws:

1. The Inter-State Migrant Workmen (RE&amp;CS) Act and Rules, 1979 
2. Employees’ State Insurance Act;
3. Provident Fund Act;
4. The Minimum Wages Act;
5. The Factories Act;
6. The Payment of Wages Act;
7. Maternity Benefit Act;
8. Contract Labour (Regulation &amp; Abolition) Act, 1970.
9. Any other labour law.
 
i) The Labourer shall not disclose to anyone regarding the information, formulae of the Principal Employer adversely affecting the interest of the Principal Employer.

g) The Labourer shall, at the expiry or the termination of the contract after completion of terms of extension, if any, hand over the vacant possession of the premises to the Contractor if any provided by the Contractor.


Rights and Obligations of the Contractor:
a) To perform the job as per the assignment, details of which are given in the agreement.
 
b) The Contractor shall decide the number of workmen required for the completion of the job. He will review his work as to the number of workmen required from time to time i.e. decrease or increase the workforce of his job.
 
c) The Contractor shall decide the mode and manner of work to be done by his workmen.
 
d) The Contractor shall decide the working conditions of his workmen and shall decide about their salary and other service conditions and payment thereof.
 
e) The Contractor shall decide and take disciplinary action against the workman if he is found to have committed any acts of misconduct and take disciplinary action as deemed necessary including discharge or dismissal after compliance with the labour law. He shall also decide about the retrenchment etc.
 
f) The Contractor shall pay wages to his workmen on or before 7th of every month.
 
g) The Contractor shall comply with the following acts or any other Labour Laws:

1. The Inter-State Migrant Workmen (RE&amp;CS) Act and Rules, 1979 
2. Employees’ State Insurance Act;
3. Provident Fund Act;
4. The Minimum Wages Act;
5. The Factories Act;
6. The Payment of Wages Act;
7. Maternity Benefit Act;
8. Contract Labour (Regulation &amp; Abolition) Act, 1970.
9. Any other labour law.
 
i) In case the Contractor contravenes any provisions of the law, and the Labourer suffers any damage or loss or harm due to any acts of commission or omission of the Contractor, the Contractor is bound to indemnify the Labourer. The Contractor shall also be responsible for the discharge of all legal liabilities towards the Labourer and also for observing all laws and Government rules relating to labour laws.
 
j) To deduct the amount from the bills of the contractor proportionately to the defective job/work/ performance.

Miscellaneous:
This Contract of Agreement comes into force with effect from 18-12-2017 and shall remain in force for a period of 10 Days i.e. till 28-12-2017. However, this Contract of Agreement shall be liable to be terminated at the expiry of the terms of the contract and in event it is to be extended, it shall be done by mutual consent in writing. Notwithstanding anything contained herein above, this Contract of Agreement can be terminated earlier than the period agreed upon by giving 10 Days advance notice to the Contractor without assigning any reason whatsoever.
 
Arbitration:
In case of any dispute/grievance arising out of under this Contract of Agreement, the same shall be mutually discussed and settled, failing which it shall be referred to arbitration of a Single Arbitrator under the provisions of Conciliation and Arbitration Act and the venue of arbitration shall be at Ernakulam High Court and Arbitrator’s decision shall be final and binding on both the parties.

The Contractor and labourer have accepted and agreed and herein confirms that they shall abide and are willing to execute the work assigned to them in accordance with the terms and conditions of this Contract of Agreement and in turn the Contractor agrees to engage the Labourer with effect from 18-12-2017 to 28-12-2017
 
Signed:
Contractor: Kevin

Labourer: Tim
			</pre>
			<br />
			<div class="text-right">
				<button class="btn btn-primary" type="button" name="add"><i class="fa fa-plus" aria-hidden="true"></i> Agree and Add</button>
			</div>
		</div>
	</div>
	<br />

</section>
{{>footer}}
