{{>header}}
<section id="dashboard" class="container main" hidden data-auth-required="true">
	
			<h2 class="text-center">Work Profile | Kevin (Contractor) <i class="fa fa-check-circle" aria-hidden="true" style="color: green; "></i></h2>
			<br />
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="list-group">
				<li class="list-group-item hover-disabled">
					<div>
						<h3>Construction</h3>
						<div><p>Construction of site X</p></div>
						<div class="text-right">
							<button class="btn btn-primary" type="button" name="payment" data-value="project-8"><i class="fa fa-credit-card" aria-hidden="true"></i> Start Payment</button>
						</div>
					</div>
				</li>
			</ul>
			<br />
		</div>
		<div class="col-md-6 offset-md-3">
			<h2>Projects</h2>
			<br />
			<div class="row">
				<div class="col-12 text-right">
					<button class="btn btn-primary" type="button" name="add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
				</div>
			</div>
			<br />
			<ul class="list-group">
				<li class="list-group-item" data-value="Flooring-first-floor">Flooring first floor</li>
				<li class="list-group-item" data-value="Painting-Home">Painting home</li>
				<li class="list-group-item" data-value="project-3">Electrification</li>
			</ul>
			<br />
		</div>
	</div>

</section>
{{>footer}}
