{{>header}}
<section id="dashboard" class="container main" hidden>
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="list-group">
				<li class="list-group-item" data-value="project-1">Project 1</li>
				<li class="list-group-item" data-value="project-2">Project 2</li>
				<li class="list-group-item" data-value="project-3">Project 3</li>
			</ul>
		</div>
	</div>

</section>
{{>footer}}
