{{>header}}
<section id="list" class="container main" hidden data-auth-required="true">
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="row">
				<div class="col-6">
					<button class="btn btn-primary" type="button" name="dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Projects</button>
				</div>
				<div class="col-6 text-right">
					<button class="btn btn-primary" type="button" name="add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
				</div>
			</div>
			<br />
			<ul class="list-group">
				<li class="list-group-item" data-value="worker-1">Worker 1</li>
				<li class="list-group-item" data-value="worker-2">Worker 2</li>
				<li class="list-group-item" data-value="worker-3">Worker 3</li>
				<li class="list-group-item" data-value="worker-3">Worker 4</li>
				<li class="list-group-item" data-value="worker-3">Worker 5</li>
			</ul>
		</div>
	</div>
	<br />
</section>
{{>footer}}
