{{>header}}
<section id="pay" class="container main" hidden data-auth-required="true">
	
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1 class="text-center">Payments</h1>
			<br />
			<div class="row">
				<div class="col-6">
					<button class="btn btn-primary" type="button" name="dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Projects</button>
				</div>
			</div>
			<br />
			<ul class="list-group">
				<li class="list-group-item hover-disabled">
					<div>Worker | John Nash</div>
					<div class="text-right">
						<button class="btn btn-primary" type="button" name="pay" data-value="worker-1"><i class="fa fa-credit-card" aria-hidden="true"></i> Pay</button>
					</div>
				</li>
				<li class="list-group-item hover-disabled">
					<div>Worker | Jone Doe</div>
					<div class="text-right">
						<button class="btn btn-primary" type="button" name="pay" data-value="worker-1"><i class="fa fa-credit-card" aria-hidden="true"></i> Pay</button>
					</div>
				</li>
				<li class="list-group-item hover-disabled">
					<div>Worker | Tim</div>
					<div class="text-right">
						<button class="btn btn-primary" type="button" name="pay" data-value="Tim"><i class="fa fa-credit-card" aria-hidden="true"></i> Pay</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<br />
</section>
{{>footer}}
